@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  margin: 0; 
  font-family: 'Inter', sans-serif; 
  overflow: hidden; 
  background-color: #050505; 
}

code, pre { 
  font-family: 'Space Mono', monospace; 
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; 
}